In [55]:
# -*- coding: utf-8 -*-
"""
Created on Tue Oct  1 22:20:51 2019

@author: ankur sinha
"""

import pandas as pd
from sklearn.model_selection import train_test_split
from numpy import array
from numpy import argmax
from sklearn.linear_model import LinearRegression

#loading all csv to dataframes
df_bluru = pd.read_csv("team_stats_bengaluru.csv")
df_bbulls = pd.read_csv("team_stats_bbulls.csv")
df_delhi = pd.read_csv("team_stats_delhi.csv")
df_guj = pd.read_csv("team_stats_gujrat.csv")
df_haryana = pd.read_csv("team_stats_haryana.csv")
df_jaipur =  pd.read_csv("team_stats_jaipur.csv")
df_mumba = pd.read_csv("team_stats_delhi.csv")
df_patna = pd.read_csv("team_stats_patna.csv")
df_pune = pd.read_csv("team_stats_pune.csv")
df_tamil = pd.read_csv("team_stats_tamil.csv")
df_telugu = pd.read_csv("team_stats_telugu.csv")
df_up = pd.read_csv("team_stats_up.csv")

headers = df_bluru.iloc[:,1]

print(df_bluru.dtypes)
df_bluru["aggr"] = (df_bluru["Season 1"]+df_bluru["Season 2"]+df_bluru["Season 3"]+df_bluru["Season 4"]+df_bluru["Season 5"]+df_bluru["Season 6"])/6
print(df_bluru["aggr"])
df_bbulls["aggr"] = (df_bbulls["Season 1"]+df_bbulls["Season 2"]+df_bbulls["Season 3"]+df_bbulls["Season 4"]+df_bbulls["Season 5"]+df_bbulls["Season 6"])/6
print(df_bbulls["aggr"])
df_delhi["aggr"] = (df_delhi["Season 1"]+df_delhi["Season 2"]+df_delhi["Season 3"]+df_delhi["Season 4"]+df_delhi["Season 5"]+df_delhi["Season 6"])/6
df_jaipur["aggr"] = (df_jaipur["Season 1"]+df_jaipur["Season 2"]+df_jaipur["Season 3"]+df_jaipur["Season 4"]+df_jaipur["Season 5"]+df_jaipur["Season 6"])/6
df_mumba["aggr"] = (df_mumba["Season 1"]+df_mumba["Season 2"]+df_mumba["Season 3"]+df_mumba["Season 4"]+df_mumba["Season 5"]+df_mumba["Season 6"])/6
df_patna["aggr"] = (df_patna["Season 1"]+df_patna["Season 2"]+df_patna["Season 3"]+df_patna["Season 4"]+df_patna["Season 5"]+df_patna["Season 6"])/6
df_pune["aggr"] = (df_pune["Season 1"]+df_pune["Season 2"]+df_pune["Season 3"]+df_pune["Season 4"]+df_pune["Season 5"]+df_pune["Season 6"])/6
df_telugu["aggr"] = (df_telugu["Season 1"]+df_telugu["Season 2"]+df_telugu["Season 3"]+df_telugu["Season 4"]+df_telugu["Season 5"]+df_telugu["Season 6"])/6
df_guj["aggr"] = (df_guj["Season 5"]+df_guj["Season 6"])/2
df_haryana["aggr"] = (df_haryana["Season 5"]+df_haryana["Season 6"])/2
df_tamil["aggr"] = (df_tamil["Season 5"]+df_tamil["Season 6"])/2
df_up["aggr"] = (df_up["Season 5"]+df_up["Season 6"])/2
     
df = pd.DataFrame(columns=headers)
df.loc[0] = list(df_bluru["aggr"])
df.loc[1] = list(df_bbulls["aggr"])
df.loc[2] = list(df_delhi["aggr"])
df.loc[3] = list(df_jaipur["aggr"])
df.loc[4] = list(df_mumba["aggr"])
df.loc[5] = list(df_patna["aggr"])
df.loc[6] = list(df_pune["aggr"])
df.loc[7] = list(df_telugu["aggr"])
df.loc[8] = list(df_guj["aggr"])
df.loc[9] = list(df_haryana["aggr"])
df.loc[10] = list(df_tamil["aggr"])
df.loc[11] = list(df_up["aggr"])
print(df)
df.to_csv("teams_overall_data.csv")

Unnamed: 0     int64
seasons       object
Overall       object
Season 7       int64
Season 6       int64
Season 5       int64
Season 4       int64
Season 3       int64
Season 2       int64
Season 1       int64
dtype: object
0      17.500000
1       7.166667
2       2.000000
3       8.333333
4       4.666667
5     747.833333
6     241.000000
7     165.000000
8     341.833333
9      40.000000
10      9.166667
11    233.833333
12     67.833333
13    301.666667
14    393.833333
15    140.500000
16    253.333333
17     39.500000
18     14.333333
19     16.500000
20     33.000000
21    154.333333
Name: aggr, dtype: float64
0      17.666667
1       8.000000
2       1.166667
3       8.500000
4       4.000000
5     755.500000
6     250.166667
7     172.000000
8     333.333333
9      40.666667
10      9.166667
11    252.666667
12     62.833333
13    315.500000
14    383.666667
15    153.000000
16    230.666667
17     42.500000
18     11.333333
19     21.833333
20     43.666667
21    163.500000
Name: aggr, dtype: float64
seasons  Matches Played       wins     draws     losses  Finishing Position  \
0             17.500000   7.166667  2.000000   8.333333            4.666667
1             17.666667   8.000000  1.166667   8.500000            4.000000
2             17.000000   5.166667  1.166667  10.666667            6.000000
3             17.333333   7.500000  1.500000   8.333333            4.166667
4             17.000000   5.166667  1.166667  10.666667            6.000000
5             18.666667  10.333333  2.000000   6.333333            2.833333
6             17.666667   7.166667  1.333333   9.166667            4.833333
7             17.333333   7.500000  2.000000   7.833333            4.000000
8             24.500000  17.000000  2.500000   5.000000            1.000000
9             22.500000   9.500000  3.000000  10.000000            4.500000
10            22.000000   5.500000  3.000000  13.500000            6.000000
11            24.000000   9.000000  4.000000  11.000000            3.000000

seasons  Total Raids  Successful Raids  unsuccessful raid  empty raids  \
0         747.833333        241.000000         165.000000   341.833333
1         755.500000        250.166667         172.000000   333.333333
2         724.500000        237.000000         168.333333   319.166667
3         731.666667        237.833333         170.666667   323.166667
4         724.500000        237.000000         168.333333   319.166667
5         806.833333        295.833333         173.000000   338.000000
6         758.000000        232.833333         172.333333   352.833333
7         749.333333        261.666667         158.500000   329.166667
8        1063.500000        363.500000         228.500000   471.500000
9         985.500000        344.000000         218.000000   423.500000
10        973.500000        347.500000         214.500000   411.500000
11       1035.000000        357.500000         238.000000   439.500000

seasons  success raid %          ...           raid bonus points  \
0             40.000000          ...                   67.833333
1             40.666667          ...                   62.833333
2             41.000000          ...                   69.000000
3             41.500000          ...                   58.166667
4             41.000000          ...                   69.000000
5             45.666667          ...                   74.666667
6             39.166667          ...                   58.000000
7             44.500000          ...                   65.500000
8             41.500000          ...                   77.000000
9             43.500000          ...                  110.500000
10            42.500000          ...                  103.000000
11            44.000000          ...                  122.500000

seasons  total raid points  total tackles  successful tackles  \
0               301.666667     393.833333          140.500000
1               315.500000     383.666667          153.000000
2               298.000000     401.833333          136.166667
3               301.166667     383.500000          144.333333
4               298.000000     401.833333          136.166667
5               377.500000     445.500000          168.000000
6               293.000000     406.666667          158.666667
7               325.666667     399.000000          150.833333
8               442.500000     541.500000          250.000000
9               425.500000     553.000000          193.000000
10              414.500000     507.500000          179.000000
11              455.000000     572.500000          211.500000

seasons  unsuccesful tackles  successful tackle %  no. of super tackles  \
0                 253.333333            39.500000             14.333333
1                 230.666667            42.500000             11.333333
2                 265.666667            37.666667             14.666667
3                 239.166667            42.166667             16.333333
4                 265.666667            37.666667             14.666667
5                 277.500000            42.333333             18.000000
6                 248.000000            42.000000             16.666667
7                 248.166667            40.833333             15.666667
8                 291.500000            49.000000             15.000000
9                 360.000000            38.000000             18.000000
10                328.500000            38.500000             16.000000
11                361.000000            40.500000             23.000000

seasons  all outs inflicted  total all out points  total defence points
0                 16.500000             33.000000            154.333333
1                 21.833333             43.666667            163.500000
2                 17.833333             35.666667            150.000000
3                 19.666667             39.333333            160.000000
4                 17.833333             35.666667            150.000000
5                 27.500000             55.000000            185.333333
6                 19.333333             38.666667            174.000000
7                 21.500000             43.000000            165.666667
8                 36.000000             72.000000            264.000000
9                 21.500000             43.000000            210.000000
10                19.500000             39.000000            195.000000
11                24.500000             49.000000            233.000000

[12 rows x 22 columns]

In [56]:
train_data = pd.read_csv("teams_overall_data.csv")
train_data

,Unnamed: 0,Matches Played,wins,draws,losses,Finishing Position,Total Raids,Successful Raids,unsuccessful raid,empty raids,...,raid bonus points,total raid points,total tackles,successful tackles,unsuccesful tackles,successful tackle %,no. of super tackles,all outs inflicted,total all out points,total defence points
0,0,17.500000,7.166667,2.000000,8.333333,4.666667,747.833333,241.000000,165.000000,341.833333,...,67.833333,301.666667,393.833333,140.500000,253.333333,39.500000,14.333333,16.500000,33.000000,154.333333
1,1,17.666667,8.000000,1.166667,8.500000,4.000000,755.500000,250.166667,172.000000,333.333333,...,62.833333,315.500000,383.666667,153.000000,230.666667,42.500000,11.333333,21.833333,43.666667,163.500000
2,2,17.000000,5.166667,1.166667,10.666667,6.000000,724.500000,237.000000,168.333333,319.166667,...,69.000000,298.000000,401.833333,136.166667,265.666667,37.666667,14.666667,17.833333,35.666667,150.000000
3,3,17.333333,7.500000,1.500000,8.333333,4.166667,731.666667,237.833333,170.666667,323.166667,...,58.166667,301.166667,383.500000,144.333333,239.166667,42.166667,16.333333,19.666667,39.333333,160.000000
4,4,17.000000,5.166667,1.166667,10.666667,6.000000,724.500000,237.000000,168.333333,319.166667,...,69.000000,298.000000,401.833333,136.166667,265.666667,37.666667,14.666667,17.833333,35.666667,150.000000
5,5,18.666667,10.333333,2.000000,6.333333,2.833333,806.833333,295.833333,173.000000,338.000000,...,74.666667,377.500000,445.500000,168.000000,277.500000,42.333333,18.000000,27.500000,55.000000,185.333333
6,6,17.666667,7.166667,1.333333,9.166667,4.833333,758.000000,232.833333,172.333333,352.833333,...,58.000000,293.000000,406.666667,158.666667,248.000000,42.000000,16.666667,19.333333,38.666667,174.000000
7,7,17.333333,7.500000,2.000000,7.833333,4.000000,749.333333,261.666667,158.500000,329.166667,...,65.500000,325.666667,399.000000,150.833333,248.166667,40.833333,15.666667,21.500000,43.000000,165.666667
8,8,24.500000,17.000000,2.500000,5.000000,1.000000,1063.500000,363.500000,228.500000,471.500000,...,77.000000,442.500000,541.500000,250.000000,291.500000,49.000000,15.000000,36.000000,72.000000,264.000000
9,9,22.500000,9.500000,3.000000,10.000000,4.500000,985.500000,344.000000,218.000000,423.500000,...,110.500000,425.500000,553.000000,193.000000,360.000000,38.000000,18.000000,21.500000,43.000000,210.000000
10,10,22.000000,5.500000,3.000000,13.500000,6.000000,973.500000,347.500000,214.500000,411.500000,...,103.000000,414.500000,507.500000,179.000000,328.500000,38.500000,16.000000,19.500000,39.000000,195.000000
11,11,24.000000,9.000000,4.000000,11.000000,3.000000,1035.000000,357.500000,238.000000,439.500000,...,122.500000,455.000000,572.500000,211.500000,361.000000,40.500000,23.000000,24.500000,49.000000,233.000000

In [57]:
train_data = train_data.drop(['Unnamed: 0'],axis=1)

In [58]:
train_data

,Matches Played,wins,draws,losses,Finishing Position,Total Raids,Successful Raids,unsuccessful raid,empty raids,success raid %,...,raid bonus points,total raid points,total tackles,successful tackles,unsuccesful tackles,successful tackle %,no. of super tackles,all outs inflicted,total all out points,total defence points
0,17.500000,7.166667,2.000000,8.333333,4.666667,747.833333,241.000000,165.000000,341.833333,40.000000,...,67.833333,301.666667,393.833333,140.500000,253.333333,39.500000,14.333333,16.500000,33.000000,154.333333
1,17.666667,8.000000,1.166667,8.500000,4.000000,755.500000,250.166667,172.000000,333.333333,40.666667,...,62.833333,315.500000,383.666667,153.000000,230.666667,42.500000,11.333333,21.833333,43.666667,163.500000
2,17.000000,5.166667,1.166667,10.666667,6.000000,724.500000,237.000000,168.333333,319.166667,41.000000,...,69.000000,298.000000,401.833333,136.166667,265.666667,37.666667,14.666667,17.833333,35.666667,150.000000
3,17.333333,7.500000,1.500000,8.333333,4.166667,731.666667,237.833333,170.666667,323.166667,41.500000,...,58.166667,301.166667,383.500000,144.333333,239.166667,42.166667,16.333333,19.666667,39.333333,160.000000
4,17.000000,5.166667,1.166667,10.666667,6.000000,724.500000,237.000000,168.333333,319.166667,41.000000,...,69.000000,298.000000,401.833333,136.166667,265.666667,37.666667,14.666667,17.833333,35.666667,150.000000
5,18.666667,10.333333,2.000000,6.333333,2.833333,806.833333,295.833333,173.000000,338.000000,45.666667,...,74.666667,377.500000,445.500000,168.000000,277.500000,42.333333,18.000000,27.500000,55.000000,185.333333
6,17.666667,7.166667,1.333333,9.166667,4.833333,758.000000,232.833333,172.333333,352.833333,39.166667,...,58.000000,293.000000,406.666667,158.666667,248.000000,42.000000,16.666667,19.333333,38.666667,174.000000
7,17.333333,7.500000,2.000000,7.833333,4.000000,749.333333,261.666667,158.500000,329.166667,44.500000,...,65.500000,325.666667,399.000000,150.833333,248.166667,40.833333,15.666667,21.500000,43.000000,165.666667
8,24.500000,17.000000,2.500000,5.000000,1.000000,1063.500000,363.500000,228.500000,471.500000,41.500000,...,77.000000,442.500000,541.500000,250.000000,291.500000,49.000000,15.000000,36.000000,72.000000,264.000000
9,22.500000,9.500000,3.000000,10.000000,4.500000,985.500000,344.000000,218.000000,423.500000,43.500000,...,110.500000,425.500000,553.000000,193.000000,360.000000,38.000000,18.000000,21.500000,43.000000,210.000000
10,22.000000,5.500000,3.000000,13.500000,6.000000,973.500000,347.500000,214.500000,411.500000,42.500000,...,103.000000,414.500000,507.500000,179.000000,328.500000,38.500000,16.000000,19.500000,39.000000,195.000000
11,24.000000,9.000000,4.000000,11.000000,3.000000,1035.000000,357.500000,238.000000,439.500000,44.000000,...,122.500000,455.000000,572.500000,211.500000,361.000000,40.500000,23.000000,24.500000,49.000000,233.000000

In [59]:
#labels for super-performance
Y = list()
Y.append(df_bluru['Season 7'][10]+df_bluru['Season 7'][18])
Y.append(df_bbulls['Season 7'][10]+df_bbulls['Season 7'][18])
Y.append(df_delhi['Season 7'][10]+df_delhi['Season 7'][18])
Y.append(df_guj['Season 7'][10]+df_guj['Season 7'][18])
Y.append(df_haryana['Season 7'][10]+df_haryana['Season 7'][18])
Y.append(df_jaipur['Season 7'][10]+df_jaipur['Season 7'][18])
Y.append(df_mumba['Season 7'][10]+df_mumba['Season 7'][18])
Y.append(df_patna['Season 7'][10]+df_patna['Season 7'][18])
Y.append(df_pune['Season 7'][10]+df_pune['Season 7'][18])
Y.append(df_tamil['Season 7'][10]+df_tamil['Season 7'][18])
Y.append(df_telugu['Season 7'][10]+df_telugu['Season 7'][18])
Y.append(df_up['Season 7'][10]+df_up['Season 7'][18])

In [60]:
Y

[27, 33, 16, 22, 28, 39, 16, 37, 31, 17, 30, 21]

In [61]:
X = train_data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.15, random_state=42)

In [62]:
from sklearn import datasets, linear_model, metrics 
from sklearn.model_selection import cross_val_score
import numpy as np
from sklearn.metrics import mean_squared_error

reg = linear_model.LinearRegression()
model = reg.fit(X, Y)
predictions = model.predict(X)
lin_mse = mean_squared_error(Y, predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

2.449489892966459

In [63]:
teams = ['Bengal Warriors','Bengaluru Bulls','Dabang Delhi K.C.','Gujarat FortuneGiants','Haryana Steelers','Jaipur Pink Panthers','U Mumba','Patna Pirates','Puneri Paltan','Tamil Thalaivas','Telugu Titans','U.P. YODDHA'] 
data = pd.DataFrame({'Teams':teams,'Super Perf':predictions})

In [64]:
data.sort_values('Super Perf',ascending=False)

    Super Perf                  Teams
5    38.999359   Jaipur Pink Panthers
7    36.999237          Patna Pirates
1    32.999481        Bengaluru Bulls
8    31.000183          Puneri Paltan
10   30.000244          Telugu Titans
0    26.999176        Bengal Warriors
3    21.999451  Gujarat FortuneGiants
2    21.998962      Dabang Delhi K.C.
4    21.998962       Haryana Steelers
11   20.999268            U.P. YODDHA
9    17.001831        Tamil Thalaivas
6    15.999329                U Mumba

In [65]:
#labels for successful raids

Y = list()
Y.append(df_bluru['Season 7'][6])
Y.append(df_bbulls['Season 7'][6])
Y.append(df_delhi['Season 7'][6])
Y.append(df_guj['Season 7'][6])
Y.append(df_haryana['Season 7'][6])
Y.append(df_jaipur['Season 7'][6])
Y.append(df_mumba['Season 7'][6])
Y.append(df_patna['Season 7'][6])
Y.append(df_pune['Season 7'][6])
Y.append(df_tamil['Season 7'][6])
Y.append(df_telugu['Season 7'][6])
Y.append(df_up['Season 7'][6])

X = train_data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.15, random_state=42)

In [66]:
reg = linear_model.LinearRegression()
model = reg.fit(X, Y)
predictions = model.predict(X)
lin_mse = mean_squared_error(Y, predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

14.492850991078901

In [67]:
teams = ['Bengal Warriors','Bengaluru Bulls','Dabang Delhi K.C.','Gujarat FortuneGiants','Haryana Steelers','Jaipur Pink Panthers','U Mumba','Patna Pirates','Puneri Paltan','Tamil Thalaivas','Telugu Titans','U.P. YODDHA'] 
data = pd.DataFrame({'Teams':teams,'Successful Raids':predictions})

In [68]:
data.sort_values('Successful Raids', ascending=False)

    Successful Raids                  Teams
6         361.035645                U Mumba
2         325.532227      Dabang Delhi K.C.
4         325.532227       Haryana Steelers
0         318.033447        Bengal Warriors
1         309.034668        Bengaluru Bulls
7         303.032959          Patna Pirates
8         290.023926          Puneri Paltan
9         275.030273        Tamil Thalaivas
10        273.036133          Telugu Titans
3         265.033203  Gujarat FortuneGiants
5         261.036865   Jaipur Pink Panthers
11        223.027344            U.P. YODDHA

In [69]:
#labels for successful tackles

Y = list()
Y.append(df_bluru['Season 7'][15])
Y.append(df_bbulls['Season 7'][15])
Y.append(df_delhi['Season 7'][15])
Y.append(df_guj['Season 7'][15])
Y.append(df_haryana['Season 7'][15])
Y.append(df_jaipur['Season 7'][15])
Y.append(df_mumba['Season 7'][15])
Y.append(df_patna['Season 7'][15])
Y.append(df_pune['Season 7'][15])
Y.append(df_tamil['Season 7'][15])
Y.append(df_telugu['Season 7'][15])
Y.append(df_up['Season 7'][15])

X = train_data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.15, random_state=42)

In [70]:
reg = linear_model.LinearRegression()
model = reg.fit(X, Y)
predictions = model.predict(X)
lin_mse = mean_squared_error(Y, predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

2.2303950434346223e-13

In [71]:
teams = ['Bengal Warriors','Bengaluru Bulls','Dabang Delhi K.C.','Gujarat FortuneGiants','Haryana Steelers','Jaipur Pink Panthers','U Mumba','Patna Pirates','Puneri Paltan','Tamil Thalaivas','Telugu Titans','U.P. YODDHA'] 
data = pd.DataFrame({'Teams':teams,'Successful Tackles': predictions})

In [72]:
data.sort_values('Successful Tackles',ascending=False)

    Successful Tackles                  Teams
8                207.0          Puneri Paltan
5                189.0   Jaipur Pink Panthers
3                187.0  Gujarat FortuneGiants
2                181.0      Dabang Delhi K.C.
4                181.0       Haryana Steelers
6                181.0                U Mumba
11               177.0            U.P. YODDHA
7                174.0          Patna Pirates
0                174.0        Bengal Warriors
1                168.0        Bengaluru Bulls
10               162.0          Telugu Titans
9                160.0        Tamil Thalaivas